
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
    
    
}

header {
    background-color: #333;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

header .logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease; 
}


header ul li a:hover {
    color: #ff6b6b; 
}


.hero {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.3em;
    margin: 20px 0;
}

.btn {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease; 
}


.btn:hover {
    background-color: #ff4757; 
}


.features {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.features h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.feature-cards {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover Transition */
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.about {
    padding: 50px 20px;
    text-align: center;
    color: #f4f4f4;
}

.about p {
    font-size: 1.2em;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h2 {
    font-size: 2em;
}

footer p {
    font-size: 1em;
}

footer a:hover {
    color: #ff6b6b;
    text-decoration: underline;
}
